# ignore dependencies
client/bower_components/

#ignore config.js
client/app/config/config.js

# ignore workspace settings
.vscode/

# ignore npm debug logs
npm-debug.log

# ignore user specific webstorm ide files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
