<!--slider-->
<div ng-repeat="slider in sliders" style="padding-top: 0.5em">
    {{slider.description}}: &emsp;
    <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" style="width: 50%"></rzslider>
</div>
<div layout-padding></div>

<!-- <div layout="row">
    <span flex></span> -->
<md-button ng-if="compareType == 'map'" ng-click="changeVisualization(maptype)" class="md-raised md-primary white-font">Run with new parameter(s)</md-button>
<md-button ng-if="compareType == 'timeseries'" ng-click="changeVisualization(timeseriestype)" class="md-raised md-primary white-font">Run with new parameter(s)</md-button>
<md-button ng-click="download()" class="md-raised md-primary white-font">Download</md-button>
<!-- </div> -->
<div layout-padding></div>
<md-divider></md-divider>
<div layout-padding></div>
<!-- Comparison type selection -->
<div layout="row">
    <span flex></span>

    <div layout="row" ng-if="compareType == 'map'">
        <span flex>
            <md-button aria-label="Side-by-side" class="md-fab md-mini md-raised" ng-disabled="maptype == 'Side-by-side'" ng-click="changeMapType('Side-by-side')">
                <md-icon md-menu-origin md-svg-icon="{{icons.mapSideBySide}}"></md-icon>
            </md-button>
            <md-button aria-label="Overlay" class="md-fab md-mini md-raised" ng-disabled="maptype == 'Overlay'" ng-click="changeMapType('Overlay')">
                    <md-icon md-menu-origin md-svg-icon="{{icons.mapOverlaySlider}}"></md-icon>
            </md-button>
            <md-button aria-label="Peephole" class="md-fab md-mini md-raised" ng-disabled="maptype == 'Peephole'" ng-click="changeMapType('Peephole')">
                    <md-icon md-menu-origin md-svg-icon="{{icons.mapPeephole}}"></md-icon>
            </md-button>
        </span>
    </div>
    <div layout="row" ng-if="compareType == 'timeseries'">
        <span flex>
            <md-button aria-label="Side-by-side" class="md-fab md-mini md-raised" ng-disabled="timeseriestype == 'Side-by-side'" ng-click="changeTsType('Side-by-side')">
                <md-icon md-menu-origin md-svg-icon="{{icons.timeseriesSideBySide}}"></md-icon>
            </md-button>
            <md-button aria-label="Combined" class="md-fab md-mini md-raised" ng-disabled="timeseriestype == 'Combined'" ng-click="changeTsType('Combined')">
                    <md-icon md-menu-origin md-svg-icon="{{icons.timeseriesOverlay}}"></md-icon>
            </md-button>
        </span>
    </div>
</div>
<!-- <o2r-side-by-side o2r-original-figure="{{figures[]}}" o2r-modified-figure="{{changedMap}}"></o2r-side-by-side> -->

<!--timeseries items-->
<div ng-if="compareType == 'timeseries' && modifiedFigure">
    <o2r-timeseries o2r-data="combinedTimeseriesData" o2r-layout="layout" ng-if="timeseriestype == 'Combined'"></o2r-timeseries>
    <o2r-side-by-side ng-if="timeseriestype == 'Side-by-side'" o2r-original-figure="figure"
        o2r-modified-figure="modifiedFigure"
        plotly-Layout="layout"></o2r-side-by-side>
</div>
<div ng-if="compareType == 'timeseries' && !modifiedFigure">
    <o2r-timeseries o2r-data="combinedTimeseriesData" o2r-layout="layout"></o2r-timeseries>
</div>

<!--map items to display-->
<div ng-if="compareType == 'map' && modifiedFigure" >
    <!-- ng-class="{'rs-parent-height': maptype == 'Peephole'}" -->
    <o2r-side-by-side ng-if="maptype == 'Side-by-side'" o2r-original-figure="figure" o2r-modified-figure="modifiedFigure"></o2r-side-by-side>
    <!-- <raster-sweep ng-if="maptype == 'Peephole'" rs-base="{{figure.original.image}}" rs-overlay="{{modifiedFigure}}"></raster-sweep> -->
    <hans-approach ng-if="maptype == 'Overlay'"></hans-approach>

    <div ng-if="maptype == 'Overlay'">
        <md-button ng-click="switchImages()" class="md-raised">switch images</md-button>
        <p>{{overlayOnTop}}</p>
        <slide-image-comparison info="images"></slide-image-comparison>
    </div>

</div>
<div ng-if="compareType == 'map' && !modifiedFigure">
    <img ng-src="{{figure.original.image}}" alt="image" width="100%">
</div>
