
<div aria-label="slider comparison" flex="100" class="slider-image-comparison-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="white-font">slider comparison</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="o2r-white-icon" md-svg-src="{{icons.close}}" arial-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div flex="100" layout="row">

        <md-card flex="50">
            <md-card-content>
                <slide-image-comparison info="images"></slide-image-comparison>
            </md-card-content>
        </md-card>

        <md-card flex="50">
            <md-card-content>
                <p>By using the "switch images"-button you can change the background and overlay image to compare in both directions.</p>

                <md-button class="md-raised" ng-click="switchImages()">
                    switch images
                </md-button>

                <input type="button" value="Download" ng-click="download()" />                
                
            </md-card-content>
        </md-card>

    </div>

</div>
