
<md-dialog aria-label="slider comparison" flex="100" class="slider-directive-dialog">

  <table id="tableSubstitution" style="width:100%">
    <tr style="background-color: white;">
      <th style="width:45%"><h4>{{images.image1}}</h4></th>
      <th style="width:10%"></th>
      <th style="width:45%"><h4>{{images.image2}}</h4></th>
    </tr>
  </table>

  <slide-image-comparison info="images"></slide-image-comparison>


    <!-- <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="white-font">slider comparison</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon class="o2r-white-icon" md-svg-src="{{vm.icons.close}}" arial-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar> -->

    <!-- <md-dialog-content>
      <div class="md-dialog-content">

          <slide-image-comparison info="images"></slide-image-comparison>

        <div style="width:50%; height:50%">
        <div class="cocoen">
            <div>
                <img src="../../img/baboon.png" alt="original">
            </div>
            <img src="../../img/spirale.png" alt="overlay">
            <span class="cocoen-drag">::before</span>
        </div>
        </div>
        <img src="{{vm.original}}" alt="original">
        <img src="{{vm.overlay}}" alt="overlay">

      </div>
      <p>hallo</P>
      <div id="containerCocoen">
        <div class="cocoen">
            <img src="{{vm.original}}" alt="original">
            <img src="{{vm.overlay}}" alt="overlay">
        </div>
      </div>

    </md-dialog-content> -->

    <!-- <md-toolbar class="footer">
        <div class="md-toolbar-tools white-font">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon class="o2r-white-icon" md-svg-src="{{vm.icons.close}}" arial-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar> -->

</md-dialog>

<!--
http://wfarm1.dataknet.com/static/resources/icons/set36/b5007ea8.png      >>>> mammoth
https://upload.wikimedia.org/wikipedia/commons/0/0f/Icon_Pinguin_2_512x512.png    >>>> penguin
-->
