<div layout="row">
    <!-- Left Side -->
    <div>
        <o2r-timeseries ng-if="original.type == 'timeseries'" o2r-data="{{originalTime}}" o2r-title="{{original.title}}"></o2r-timeseries>
        <o2r-display-files ng-if="original.type == 'map'" o2r-file="{{}}"></o2r-display-files>
    </div>
    <!-- Right Side -->
    <div>
        <o2r-timeseries ng-if="original.type == 'timeseries'" o2r-data="{{modifiedTime}}" o2r-title="{{original.title + ' modified'}}"></o2r-timeseries>
        <o2r-display-files ng-if="original.type == 'map'" o2r-file="{{}}"></o2r-display-files>        
    </div>
</div>