<div class="manipulate-interactive">

    <md-tabs  md-selected="vm.selectedTab" md-dynamic-height md-border-bottom md-autoselect>
		<md-tab ng-repeat="figure in vm.figures track by $index" 
		label="Figure {{$index + 1}}">
					
			<!-- Comparison type selection -->
			<md-menu md-position-mode="target-right target" ng-if="vm.compareType == 'map'">
				<md-button aria-label="Codefiles Menu" class="md-icon-button inspect-menu-button" ng-click="$mdMenu.open($event)">
					<md-icon md-menu-origin md-svg-icon="{{icons.menu}}"></md-icon>
				</md-button>
				<md-menu-content width="4">
					<md-menu-item ng-repeat="type in mapCompareTypes track by $index">
						<md-button ng-click="vm.type = type">
							{{type}}
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<md-menu md-position-mode="target-right target" ng-if="vm.compareType == 'timeseries'">
				<md-button aria-label="Codefiles Menu" class="md-icon-button inspect-menu-button" ng-click="$mdMenu.open($event)">
					<md-icon md-menu-origin md-svg-icon="{{icons.menu}}"></md-icon>
				</md-button>
				<md-menu-content width="4">
					<md-menu-item ng-repeat="type in tsCompareTypes track by $index">
						<md-button ng-click="vm.type = type">
							{{type}}
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>


			<!--slider-->
			<div ng-repeat="slider in vm.sliders" style="padding-top: 0.5em">
				{{slider.description}}: &emsp;
				<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" style="width: 50%"></rzslider>
			</div>

			<md-button ng-click="vm.changeVisualization(vm.type)" class="md-raised">Load visualization</md-button>
			
			<!--timeseries items-->
			<o2r-timeseries o2r-data="vm.combinedTimeseriesData" o2r-layout="vm.layout" ng-if="vm.compareType == 'timeseries' && vm.type == 'Combined'"></o2r-timeseries>
			<side-by-side ng-if="vm.compareType == 'timeseries' && vm.type == 'Side-by-side'"></side-by-side>
			
			<!--map items to display-->
			<side-by-side ng-if="vm.compareType == 'map' && vm.type == 'Side-by-side'"></side-by-side>
			<peephole ng-if="vm.compareType == 'map' && vm.type == 'Peephole'"></peephole>
			<hans-approach ng-if="vm.compareType == 'map' && vm.type == 'Overlay'"></hans-approach>
        </md-tab>
    </md-tabs>

    
</div>